.git
.next
node_modules
.github
docs
.claude
coverage
.vercel
.env*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
next-env.d.ts
CHANGELOG.md
*.pem
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
